.nav-style {
    font-size: 14px;
    line-height: 41px;
    color: #777777;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    padding: 2.5% 5.5%;
}

.nav-style:hover {
    color: #222222;
}

.brand-style {
    letter-spacing: 0px;
    line-height: 41px;
    color: #555555;
    font-family: "Montserrat";
    font-weight: 700;
    
}

.navbar-style {
    padding-right: 16.5%;
    padding-left: 16%;
    z-index: 2;
}

@media (max-width: 991.98px) {
    .navbar-style {
        padding-right: 5%;
        padding-left: 7%;
    }
}

.title-image {
    max-width: 100%;
    height: auto;
}

.title-style {
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

@media (max-width: 768px) {
    .title-style {
        font-size: 4.2vh;
        margin-top: -2vh;
    }
}

@media (min-width: 768px) {
    .title-style {
        font-size: 6vh;
    }
}

@media (min-width: 992px) {
    .title-style {
        font-size: 8vh;
    }
}

@media (min-width: 1200px) {
    .title-style {
        font-size: 10vh;
    }
}


.subtitle-style {
    font-size: 2.5vh;
    letter-spacing: 0px;
    color: #cccccc;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
    margin: -2% 0% 17% 0%;
    z-index: 1;
}

@media (min-width: 768px) {
    .subtitle-style {
        margin-top: -1%;
        margin-bottom: 6%;
        font-size: 3.2vh;
    }
}

@media (min-width: 992px) {
    .subtitle-style {
        margin-bottom: 5%;
        font-size: 3.6vh;
    }
}

.button-style {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #7cc576;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 43px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    border-style: none;
    z-index: 1;
}

.col-style {
    margin-top: -28%;
}

@media (min-width: 768px) {
    .col-style {
        margin-top: -32%;
    }
}

@media (min-width: 1400px) {
    .col-style {
        margin-top: -38%;
    }
}
